/* 
    Document   : nasa
    Created on : 2014
    Author     : agdarby
    Description:  One of the backgrounds for SubjectdPlus
*/

body {
    background: #e3e1d9 url(../../images/admin/mission_control_lg.jpg);
    background-size: cover;
}

.background {display: block;}

h1 { color: #efefef;}

#maincontent h2 {
    color: #fff;
}
